<p class="NewUsers-title">Welcome new user!</p>
<section class="UserNew">
    <%= form_with url: users_path do |form| %>
        <div class="Form-section">
            <p class="Forminput-label">First name: </p>
            <%= form.text_field :first_name, class: "Form-input" %>
        </div>
        <div class="Form-section">
            <p class="Forminput-label">Last name: </p>
            <%= form.text_field :last_name, class: "Form-input" %>
        </div>
        <div class="Form-section">
            <p class="Forminput-label">Email: </p>
            <%= form.email_field :email, class: "Form-input" %>
        </div>
        <div class="Form-section">
            <p class="Forminput-label">Password: </p>
            <%= form.password_field :password, class: "Form-input" %>
        </div>
        <div class="Form-section">
            <%= form.submit "Sign-up!", class: "Form-submit" %>
    <% end %>
</section>